
.content {
    width: 60rem;
    margin: 0 auto;
    background-color: rgb(43, 44, 44);
    padding: 2rem;
    h2 {
        font-size: 2rem; 
        margin-top: 10rem;
        color: rgb(207, 207, 215);  
    }
    p {
        color: burlywood;
    }
}

header{
   position: fixed;
   top: 0; 
   padding: 1rem;
   z-index: 1;
   width: 100%;
   text-align: center;
   background-color: burlywood;
   display: flex;
   justify-content: space-around;
   align-items:center
}


#ContainerElementID::-webkit-scrollbar {
    display: none; 
  }
  @media print {

    #ContainerElementID {
      overflow: visible !important; /* Zapewnia, że cała zawartość jest widoczna w trybie wydruku */
      height: auto !important;
    }
  
    .noalco {
      page-break-inside: avoid; /* Zapobiega łamaniu elementów w połowie na różnych stronach */
    }
  
    @page {
      size: auto; /* Automatyczne dopasowanie rozmiaru strony */
      margin: 12mm; /* Dostosuj marginesy */
    }
  }

  