
.content {
    width: 70rem;
    margin: 0 auto;
    background-color: rgb(21, 20, 20);
    padding: 2rem 4rem;
    
  h1{
    margin-top: 4rem;
    margin-left: 4rem;
    color: burlywood;  
  }


    h2 {
        font-size: 1.5rem; 
        margin-top: 2rem;
        margin-left: 4rem;
        color: rgb(207, 207, 215);  
    }

    h3{
      margin: 1rem 0 0 4rem;
      color: grey;
    }
  
    p {
        color: burlywood;
    }
}

header{
   position: fixed;
   top: 0; 
   padding: 0.2rem;
   z-index: 1;
   width: 100%;
   text-align: center;
   background-color: burlywood;
   display: flex;
   justify-content: space-around;
   align-items:center;
   h1{
    font-size: 1.5rem;
  }
   button{
    padding: 0.4rem;
    background-color: rgb(52, 50, 50);
    color: burlywood;
    font-size: 1.1rem;
    border-radius: 0.3rem;
   }
   }
   



#ContainerElementID::-webkit-scrollbar {
    display: none; 
  }
  @media print {

    #ContainerElementID {
      overflow: visible !important; /* Zapewnia, że cała zawartość jest widoczna w trybie wydruku */
      height: auto !important;
    }
  
    .noalco {
      page-break-inside: avoid; /* Zapobiega łamaniu elementów w połowie na różnych stronach */
    }
  
    @page {
      size: auto; /* Automatyczne dopasowanie rozmiaru strony */
      // margin: 3rem; /* Dostosuj marginesy */
    }
  }

  